<html>
   <head>

      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   </head>

   <body>
   <nav>
      <div class="nav-wrapper">
         <a href="/" class="brand-logo">Science</a>
         <ul id="nav-mobile" class= "right hide-on-med-and-down">
            <li><a href="/login">Login</a></li>
            <li><a href="/scholar">Scholar</a></li>
         </ul>
      </div>
   </nav>
      <p>This is the body of the sample view</p>
   <table>
      <thead>
      <tr>
         <th> Title </th>
         <th> Content </th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${artiles.empty}">
         <td colspan="2"> No Books Available </td>
      </tr>
      <tr th:each="book : ${artiles}">
         <td><span th:text="${book.title}"> Title </span></td>
         <td><span th:text="${book.content}"> Author </span></td>
      </tr>
      </tbody>
   </table>
   </body>
</html>