<html>
    <head>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Scholar</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
                <li><a href="/academic-rank">Academic Rank</a></li>
            </ul>
        </div>
    </nav>
</html>